//! **************************************************************************
// Written by: Map H.40 on Mon May 30 23:56:41 2005
//! **************************************************************************

SCHEMATIC START;
COMP "SYSTEM_CLOCK" LOCATE = SITE "AJ15" LEVEL 1;
COMP "LED_0" LOCATE = SITE "AC4" LEVEL 1;
COMP "LED_1" LOCATE = SITE "AC3" LEVEL 1;
COMP "LED_2" LOCATE = SITE "AA6" LEVEL 1;
COMP "LED_3" LOCATE = SITE "AA5" LEVEL 1;
NET "SYSTEM_CLOCK_BUFGP/IBUFG" BEL "SYSTEM_CLOCK_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
TIMEGRP SYSTEM_CLOCK = BEL "dealloc_id_13" BEL "dealloc_id_14" BEL
        "clk_enable" BEL "div_count_6" BEL "RESET" BEL "pop" BEL "dealloc_req"
        BEL "dealloc_id_15" BEL "wait_for_dealloc_ack" BEL "push" BEL
        "alloc_req" BEL "wait_for_alloc_ack" BEL "din_15" BEL "din_0" BEL
        "din_1" BEL "din_2" BEL "din_3" BEL "din_4" BEL "din_5" BEL "din_6"
        BEL "din_7" BEL "din_8" BEL "din_9" BEL "din_10" BEL "din_11" BEL
        "din_12" BEL "din_13" BEL "din_14" BEL "dealloc_id_0" BEL
        "dealloc_id_1" BEL "dealloc_id_2" BEL "dealloc_id_3" BEL
        "dealloc_id_4" BEL "dealloc_id_5" BEL "dealloc_id_6" BEL
        "dealloc_id_7" BEL "dealloc_id_8" BEL "dealloc_id_9" BEL
        "dealloc_id_10" BEL "dealloc_id_11" BEL "dealloc_id_12" BEL
        "div_count_7" BEL "div_count_0" BEL "div_count_1" BEL "div_count_2"
        BEL "div_count_3" BEL "div_count_4" BEL "div_count_5" BEL "dut/head_9"
        BEL "dut/head_11" BEL "dut/head_14" BEL "dut/head_13" BEL
        "dut/head_12" BEL "dut/head_10" BEL "dut/init_done" BEL "dut/init_wr"
        BEL "dut/init_addr_15" BEL "dut/init_din_13" BEL "dut/allow_alloc" BEL
        "dut/allow_dealloc" BEL "dut/alloc_req_pend" BEL "dut/alloc_s2" BEL
        "dut/alloc_ack" BEL "dut/dealloc_ack" BEL "dut/head_15" BEL
        "dut/tail_13" BEL "dut/token" BEL "dut/alloc_s3" BEL "dut/alloc_id_15"
        BEL "dut/m_addr_15" BEL "dut/m_wr" BEL "dut/dealloc_s2" BEL
        "dut/dealloc_req_pend" BEL "dut/m_din_15" BEL "dut/m_din_0" BEL
        "dut/m_din_1" BEL "dut/m_din_2" BEL "dut/m_din_3" BEL "dut/m_din_4"
        BEL "dut/m_din_5" BEL "dut/m_din_6" BEL "dut/m_din_7" BEL
        "dut/m_din_8" BEL "dut/m_din_9" BEL "dut/m_din_10" BEL "dut/m_din_11"
        BEL "dut/m_din_12" BEL "dut/m_din_13" BEL "dut/m_din_14" BEL
        "dut/m_addr_0" BEL "dut/m_addr_1" BEL "dut/m_addr_2" BEL
        "dut/m_addr_3" BEL "dut/m_addr_4" BEL "dut/m_addr_5" BEL
        "dut/m_addr_6" BEL "dut/m_addr_7" BEL "dut/m_addr_8" BEL
        "dut/m_addr_9" BEL "dut/m_addr_10" BEL "dut/m_addr_11" BEL
        "dut/m_addr_12" BEL "dut/m_addr_13" BEL "dut/m_addr_14" BEL
        "dut/alloc_id_0" BEL "dut/alloc_id_1" BEL "dut/alloc_id_2" BEL
        "dut/alloc_id_3" BEL "dut/alloc_id_4" BEL "dut/alloc_id_5" BEL
        "dut/alloc_id_6" BEL "dut/alloc_id_7" BEL "dut/alloc_id_8" BEL
        "dut/alloc_id_9" BEL "dut/alloc_id_10" BEL "dut/alloc_id_11" BEL
        "dut/alloc_id_12" BEL "dut/alloc_id_13" BEL "dut/alloc_id_14" BEL
        "dut/init_addr_0" BEL "dut/init_addr_1" BEL "dut/init_addr_2" BEL
        "dut/init_addr_3" BEL "dut/init_addr_4" BEL "dut/init_addr_5" BEL
        "dut/init_addr_6" BEL "dut/init_addr_7" BEL "dut/init_addr_8" BEL
        "dut/init_addr_9" BEL "dut/init_addr_10" BEL "dut/init_addr_11" BEL
        "dut/init_addr_12" BEL "dut/init_addr_13" BEL "dut/init_addr_14" BEL
        "dut/head_0" BEL "dut/head_1" BEL "dut/head_2" BEL "dut/head_3" BEL
        "dut/head_4" BEL "dut/head_5" BEL "dut/head_6" BEL "dut/head_7" BEL
        "dut/head_8" BEL "dut/tail_15" BEL "dut/tail_14" BEL "dut/tail_0" BEL
        "dut/tail_1" BEL "dut/tail_2" BEL "dut/tail_3" BEL "dut/tail_4" BEL
        "dut/tail_5" BEL "dut/tail_6" BEL "dut/tail_7" BEL "dut/tail_8" BEL
        "dut/tail_9" BEL "dut/tail_10" BEL "dut/tail_11" BEL "dut/tail_12" BEL
        "dut/init_din_12" BEL "dut/init_din_15" BEL "dut/init_din_14" BEL
        "dut/init_din_0" BEL "dut/init_din_1" BEL "dut/init_din_2" BEL
        "dut/init_din_3" BEL "dut/init_din_4" BEL "dut/init_din_5" BEL
        "dut/init_din_6" BEL "dut/init_din_7" BEL "dut/init_din_8" BEL
        "dut/init_din_9" BEL "dut/init_din_10" BEL "dut/init_din_11" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_0.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_1.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_2.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_3.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_4.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_5.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_6.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_7.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_8.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_9.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_10.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_11.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_12.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_13.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_14.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_15.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_16.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_17.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_18.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_19.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_20.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_21.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_22.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_23.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_24.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_25.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_26.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_27.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_28.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_29.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_30.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_31.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_32.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_33.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_34.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_35.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_36.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_37.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_38.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_39.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_40.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_41.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_42.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_43.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_44.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_45.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_46.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_47.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_48.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_49.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_50.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_51.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_52.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_53.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_54.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_55.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_56.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_57.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_58.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_59.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_60.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_61.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_62.A" BEL
        "dut/flist_mem/Mram_mem_inst_ramb_63.A" BEL "dut/flist_mem/Mram_mem_0"
        BEL "dut/flist_mem/Mram_mem_1" BEL "dealloc_fifo/cnt_1" BEL
        "dealloc_fifo/fmem_15_14" BEL "dealloc_fifo/cnt_2" BEL
        "dealloc_fifo/cnt_3" BEL "dealloc_fifo/cnt_0" BEL
        "dealloc_fifo/fmem_15_13" BEL "dealloc_fifo/fmem_15_12" BEL
        "dealloc_fifo/fmem_15_11" BEL "dealloc_fifo/fmem_15_10" BEL
        "dealloc_fifo/fmem_15_9" BEL "dealloc_fifo/fmem_15_8" BEL
        "dealloc_fifo/fmem_15_7" BEL "dealloc_fifo/fmem_15_6" BEL
        "dealloc_fifo/fmem_15_5" BEL "dealloc_fifo/fmem_15_4" BEL
        "dealloc_fifo/fmem_15_3" BEL "dealloc_fifo/fmem_15_2" BEL
        "dealloc_fifo/fmem_15_1" BEL "dealloc_fifo/fmem_15_0" BEL
        "dealloc_fifo/fmem_14_14" BEL "dealloc_fifo/fmem_14_13" BEL
        "dealloc_fifo/fmem_14_12" BEL "dealloc_fifo/fmem_0_15" BEL
        "dealloc_fifo/fmem_1_15" BEL "dealloc_fifo/fmem_2_15" BEL
        "dealloc_fifo/fmem_3_15" BEL "dealloc_fifo/fmem_4_15" BEL
        "dealloc_fifo/fmem_5_15" BEL "dealloc_fifo/fmem_6_15" BEL
        "dealloc_fifo/fmem_7_15" BEL "dealloc_fifo/fmem_8_15" BEL
        "dealloc_fifo/fmem_9_15" BEL "dealloc_fifo/fmem_10_15" BEL
        "dealloc_fifo/fmem_11_15" BEL "dealloc_fifo/fmem_12_15" BEL
        "dealloc_fifo/fmem_13_15" BEL "dealloc_fifo/cnt_4" BEL
        "dealloc_fifo/fmem_14_15" BEL "dealloc_fifo/fmem_15_15" BEL
        "dealloc_fifo/fmem_0_0" BEL "dealloc_fifo/fmem_0_1" BEL
        "dealloc_fifo/fmem_0_2" BEL "dealloc_fifo/fmem_0_3" BEL
        "dealloc_fifo/fmem_0_4" BEL "dealloc_fifo/fmem_0_5" BEL
        "dealloc_fifo/fmem_0_6" BEL "dealloc_fifo/fmem_0_7" BEL
        "dealloc_fifo/fmem_0_8" BEL "dealloc_fifo/fmem_0_9" BEL
        "dealloc_fifo/fmem_0_10" BEL "dealloc_fifo/fmem_0_11" BEL
        "dealloc_fifo/fmem_0_12" BEL "dealloc_fifo/fmem_0_13" BEL
        "dealloc_fifo/fmem_0_14" BEL "dealloc_fifo/fmem_1_0" BEL
        "dealloc_fifo/fmem_1_1" BEL "dealloc_fifo/fmem_1_2" BEL
        "dealloc_fifo/fmem_1_3" BEL "dealloc_fifo/fmem_1_4" BEL
        "dealloc_fifo/fmem_1_5" BEL "dealloc_fifo/fmem_1_6" BEL
        "dealloc_fifo/fmem_1_7" BEL "dealloc_fifo/fmem_1_8" BEL
        "dealloc_fifo/fmem_1_9" BEL "dealloc_fifo/fmem_1_10" BEL
        "dealloc_fifo/fmem_1_11" BEL "dealloc_fifo/fmem_1_12" BEL
        "dealloc_fifo/fmem_1_13" BEL "dealloc_fifo/fmem_1_14" BEL
        "dealloc_fifo/fmem_2_0" BEL "dealloc_fifo/fmem_2_1" BEL
        "dealloc_fifo/fmem_2_2" BEL "dealloc_fifo/fmem_2_3" BEL
        "dealloc_fifo/fmem_2_4" BEL "dealloc_fifo/fmem_2_5" BEL
        "dealloc_fifo/fmem_2_6" BEL "dealloc_fifo/fmem_2_7" BEL
        "dealloc_fifo/fmem_2_8" BEL "dealloc_fifo/fmem_2_9" BEL
        "dealloc_fifo/fmem_2_10" BEL "dealloc_fifo/fmem_2_11" BEL
        "dealloc_fifo/fmem_2_12" BEL "dealloc_fifo/fmem_2_13" BEL
        "dealloc_fifo/fmem_2_14" BEL "dealloc_fifo/fmem_3_0" BEL
        "dealloc_fifo/fmem_3_1" BEL "dealloc_fifo/fmem_3_2" BEL
        "dealloc_fifo/fmem_3_3" BEL "dealloc_fifo/fmem_3_4" BEL
        "dealloc_fifo/fmem_3_5" BEL "dealloc_fifo/fmem_3_6" BEL
        "dealloc_fifo/fmem_3_7" BEL "dealloc_fifo/fmem_3_8" BEL
        "dealloc_fifo/fmem_3_9" BEL "dealloc_fifo/fmem_3_10" BEL
        "dealloc_fifo/fmem_3_11" BEL "dealloc_fifo/fmem_3_12" BEL
        "dealloc_fifo/fmem_3_13" BEL "dealloc_fifo/fmem_3_14" BEL
        "dealloc_fifo/fmem_4_0" BEL "dealloc_fifo/fmem_4_1" BEL
        "dealloc_fifo/fmem_4_2" BEL "dealloc_fifo/fmem_4_3" BEL
        "dealloc_fifo/fmem_4_4" BEL "dealloc_fifo/fmem_4_5" BEL
        "dealloc_fifo/fmem_4_6" BEL "dealloc_fifo/fmem_4_7" BEL
        "dealloc_fifo/fmem_4_8" BEL "dealloc_fifo/fmem_4_9" BEL
        "dealloc_fifo/fmem_4_10" BEL "dealloc_fifo/fmem_4_11" BEL
        "dealloc_fifo/fmem_4_12" BEL "dealloc_fifo/fmem_4_13" BEL
        "dealloc_fifo/fmem_4_14" BEL "dealloc_fifo/fmem_5_0" BEL
        "dealloc_fifo/fmem_5_1" BEL "dealloc_fifo/fmem_5_2" BEL
        "dealloc_fifo/fmem_5_3" BEL "dealloc_fifo/fmem_5_4" BEL
        "dealloc_fifo/fmem_5_5" BEL "dealloc_fifo/fmem_5_6" BEL
        "dealloc_fifo/fmem_5_7" BEL "dealloc_fifo/fmem_5_8" BEL
        "dealloc_fifo/fmem_5_9" BEL "dealloc_fifo/fmem_5_10" BEL
        "dealloc_fifo/fmem_5_11" BEL "dealloc_fifo/fmem_5_12" BEL
        "dealloc_fifo/fmem_5_13" BEL "dealloc_fifo/fmem_5_14" BEL
        "dealloc_fifo/fmem_6_0" BEL "dealloc_fifo/fmem_6_1" BEL
        "dealloc_fifo/fmem_6_2" BEL "dealloc_fifo/fmem_6_3" BEL
        "dealloc_fifo/fmem_6_4" BEL "dealloc_fifo/fmem_6_5" BEL
        "dealloc_fifo/fmem_6_6" BEL "dealloc_fifo/fmem_6_7" BEL
        "dealloc_fifo/fmem_6_8" BEL "dealloc_fifo/fmem_6_9" BEL
        "dealloc_fifo/fmem_6_10" BEL "dealloc_fifo/fmem_6_11" BEL
        "dealloc_fifo/fmem_6_12" BEL "dealloc_fifo/fmem_6_13" BEL
        "dealloc_fifo/fmem_6_14" BEL "dealloc_fifo/fmem_7_0" BEL
        "dealloc_fifo/fmem_7_1" BEL "dealloc_fifo/fmem_7_2" BEL
        "dealloc_fifo/fmem_7_3" BEL "dealloc_fifo/fmem_7_4" BEL
        "dealloc_fifo/fmem_7_5" BEL "dealloc_fifo/fmem_7_6" BEL
        "dealloc_fifo/fmem_7_7" BEL "dealloc_fifo/fmem_7_8" BEL
        "dealloc_fifo/fmem_7_9" BEL "dealloc_fifo/fmem_7_10" BEL
        "dealloc_fifo/fmem_7_11" BEL "dealloc_fifo/fmem_7_12" BEL
        "dealloc_fifo/fmem_7_13" BEL "dealloc_fifo/fmem_7_14" BEL
        "dealloc_fifo/fmem_8_0" BEL "dealloc_fifo/fmem_8_1" BEL
        "dealloc_fifo/fmem_8_2" BEL "dealloc_fifo/fmem_8_3" BEL
        "dealloc_fifo/fmem_8_4" BEL "dealloc_fifo/fmem_8_5" BEL
        "dealloc_fifo/fmem_8_6" BEL "dealloc_fifo/fmem_8_7" BEL
        "dealloc_fifo/fmem_8_8" BEL "dealloc_fifo/fmem_8_9" BEL
        "dealloc_fifo/fmem_8_10" BEL "dealloc_fifo/fmem_8_11" BEL
        "dealloc_fifo/fmem_8_12" BEL "dealloc_fifo/fmem_8_13" BEL
        "dealloc_fifo/fmem_8_14" BEL "dealloc_fifo/fmem_9_0" BEL
        "dealloc_fifo/fmem_9_1" BEL "dealloc_fifo/fmem_9_2" BEL
        "dealloc_fifo/fmem_9_3" BEL "dealloc_fifo/fmem_9_4" BEL
        "dealloc_fifo/fmem_9_5" BEL "dealloc_fifo/fmem_9_6" BEL
        "dealloc_fifo/fmem_9_7" BEL "dealloc_fifo/fmem_9_8" BEL
        "dealloc_fifo/fmem_9_9" BEL "dealloc_fifo/fmem_9_10" BEL
        "dealloc_fifo/fmem_9_11" BEL "dealloc_fifo/fmem_9_12" BEL
        "dealloc_fifo/fmem_9_13" BEL "dealloc_fifo/fmem_9_14" BEL
        "dealloc_fifo/fmem_10_0" BEL "dealloc_fifo/fmem_10_1" BEL
        "dealloc_fifo/fmem_10_2" BEL "dealloc_fifo/fmem_10_3" BEL
        "dealloc_fifo/fmem_10_4" BEL "dealloc_fifo/fmem_10_5" BEL
        "dealloc_fifo/fmem_10_6" BEL "dealloc_fifo/fmem_10_7" BEL
        "dealloc_fifo/fmem_10_8" BEL "dealloc_fifo/fmem_10_9" BEL
        "dealloc_fifo/fmem_10_10" BEL "dealloc_fifo/fmem_10_11" BEL
        "dealloc_fifo/fmem_10_12" BEL "dealloc_fifo/fmem_10_13" BEL
        "dealloc_fifo/fmem_10_14" BEL "dealloc_fifo/fmem_11_0" BEL
        "dealloc_fifo/fmem_11_1" BEL "dealloc_fifo/fmem_11_2" BEL
        "dealloc_fifo/fmem_11_3" BEL "dealloc_fifo/fmem_11_4" BEL
        "dealloc_fifo/fmem_11_5" BEL "dealloc_fifo/fmem_11_6" BEL
        "dealloc_fifo/fmem_11_7" BEL "dealloc_fifo/fmem_11_8" BEL
        "dealloc_fifo/fmem_11_9" BEL "dealloc_fifo/fmem_11_10" BEL
        "dealloc_fifo/fmem_11_11" BEL "dealloc_fifo/fmem_11_12" BEL
        "dealloc_fifo/fmem_11_13" BEL "dealloc_fifo/fmem_11_14" BEL
        "dealloc_fifo/fmem_12_0" BEL "dealloc_fifo/fmem_12_1" BEL
        "dealloc_fifo/fmem_12_2" BEL "dealloc_fifo/fmem_12_3" BEL
        "dealloc_fifo/fmem_12_4" BEL "dealloc_fifo/fmem_12_5" BEL
        "dealloc_fifo/fmem_12_6" BEL "dealloc_fifo/fmem_12_7" BEL
        "dealloc_fifo/fmem_12_8" BEL "dealloc_fifo/fmem_12_9" BEL
        "dealloc_fifo/fmem_12_10" BEL "dealloc_fifo/fmem_12_11" BEL
        "dealloc_fifo/fmem_12_12" BEL "dealloc_fifo/fmem_12_13" BEL
        "dealloc_fifo/fmem_12_14" BEL "dealloc_fifo/fmem_13_0" BEL
        "dealloc_fifo/fmem_13_1" BEL "dealloc_fifo/fmem_13_2" BEL
        "dealloc_fifo/fmem_13_3" BEL "dealloc_fifo/fmem_13_4" BEL
        "dealloc_fifo/fmem_13_5" BEL "dealloc_fifo/fmem_13_6" BEL
        "dealloc_fifo/fmem_13_7" BEL "dealloc_fifo/fmem_13_8" BEL
        "dealloc_fifo/fmem_13_9" BEL "dealloc_fifo/fmem_13_10" BEL
        "dealloc_fifo/fmem_13_11" BEL "dealloc_fifo/fmem_13_12" BEL
        "dealloc_fifo/fmem_13_13" BEL "dealloc_fifo/fmem_13_14" BEL
        "dealloc_fifo/fmem_14_0" BEL "dealloc_fifo/fmem_14_1" BEL
        "dealloc_fifo/fmem_14_2" BEL "dealloc_fifo/fmem_14_3" BEL
        "dealloc_fifo/fmem_14_4" BEL "dealloc_fifo/fmem_14_5" BEL
        "dealloc_fifo/fmem_14_6" BEL "dealloc_fifo/fmem_14_7" BEL
        "dealloc_fifo/fmem_14_8" BEL "dealloc_fifo/fmem_14_9" BEL
        "dealloc_fifo/fmem_14_10" BEL "dealloc_fifo/fmem_14_11" BEL
        "dealloc_fifo/rd_ptr_3" BEL "dealloc_fifo/rd_ptr_0" BEL
        "dealloc_fifo/rd_ptr_1" BEL "dealloc_fifo/rd_ptr_2" BEL
        "dealloc_fifo/wr_ptr_3" BEL "dealloc_fifo/wr_ptr_0" BEL
        "dealloc_fifo/wr_ptr_1" BEL "dealloc_fifo/wr_ptr_2" BEL
        "dut/flist_mem/Mram_mem_1_1" BEL "pop_1" BEL "push_1" BEL
        "dut/init_done_1";
TS_SYSTEM_CLOCK = PERIOD TIMEGRP "SYSTEM_CLOCK" 10 ns HIGH 50%;
SCHEMATIC END;
